body{
  overflow-x: hidden;
}

*:focus {
  outline: none;
}
*:hover img{
  cursor: pointer;
}
.header-slide{
    width: 100%;
    
  
    border-top: 1px solid #f0f2f7;
    border-bottom: 1px solid #f0f2f7;
}
.header-slide-boder{
    width: 100%;
    
    border-left: 1px solid #f0f2f7;
    
   
}
.container.header-slide-boder.mr-5{
  margin-right: 10px;
}

.input-big:focus{
  border-color: #f0f2f7;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
}
.seach-header{
  padding: 0;
}
.input-big{
  border-radius: 0;
  border-top: 0px;
  border-bottom: 0px;
}
.header-slogan h4{
  text-align: center;

  font-size: 19px;
  text-transform: uppercase;
}
.header-top{
  border-bottom: 1px solid #f0f2f7;
  
}
.brand{
  padding: 20px;
}
.img-cart {
  position: relative;
}
.thong-bao{
  position: absolute;
  right: -10px;
  top: -5px;
  font-size: 16px;
  border-radius: 100%;
  color: #ffff;

}
.img-cart img{
  width: 35px;
}
.img-user img{
  width: 35px;
}
.navbar-top{
  border-bottom: 1px solid #f0f2f7;
}
.nav-content .navbar-nav .nav-item .nav-link{
  color: black;
}

.nav-content-header .nav-item .nav-link{
    text-transform: capitalize;
    font-size: 15px;
    font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
    font-weight: 600 !important;
    padding: 20px;
    position: relative;
    text-decoration: none;
    color: #0c0c0c;
   
}
.nav-content-header .nav-item:hover{
  background-color: #ffb400;
}
h2.text-center{
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #0c0c0c;
}
@media (min-width: 1200px){
  .container {
    max-width: 1200px ;
}
}
.img-content{
  border: 1px solid #f0f2f7;
}
.xem-tat-ca {
  
  transform: rotate(180deg);
  height: 100%;
 
  
}
.xem-tat-ca{
  background-color: darkgray;
  color: black;
}

img.img-fluid.img-banner-header{
cursor: pointer;
}

.img-egd img{
  transition: 0.4s 
}
.img-egd img:hover {
  transform: scale(1.09);
  

}

.owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    font-family: 'fontAwesome';

}
.owl-carousel1 .owl-nav .owl-prev{
  left: 10%;
}
.owl-carousel1 .owl-nav .owl-next{
  right: 10%;
}
.owl-nav {
  position: absolute;
  width: 100%5;
  width: 100%;
  top: 0;
}

i.fa.fa-angle-left {
  position: absolute;
  left: 0;
  top: 0;
}

i.fa.fa-angle-right {
  position: absolute;
  top: 0;
  right: 0;
}
.owl-carousel1 span{
  display: block;
  color: #363636;
  font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 49px;
}
span.hot-line{
  font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding-right: 40px;
    color: #333;
    text-transform: capitalize;
}
span.hot-line a{
  color: #ffb400 !important;
  font-size: 18px;
}
.active-nav-header a .nav-link{
 color: #ffb400 !important;
}
.nav-content .navbar-nav .active-nav-header .nav-link{
  color:  #ffb400;

}
.nav-content .navbar-nav .nav-item .nav-link:hover{
color: white;
}
span.hot-line a:hover{
  color: black !important;
}

.card-img-top.danh-muc-noi{
  width: 60%;
  text-align: center;
}
.img-link:hover{
  cursor: pointer;

}

.card-info-gia h5{
  text-decoration: line-through;
  font-size: 15px;
  font-weight: 400;
  color: #8c8c8c;

}
.card-info-gia .gia-that{
  font-size: 18px;
  font-weight: 700;
  color: #e42a00;
  
}
p.card-text.pro-title {
  font-family: Roboto,HelveticaNeue,Helvetica Neue,sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #0c0c0c;
    max-height: 20px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-transform: capitalize;
}
.card-img-price.mb-3.mr-3 {
  border: 1px solid #cccccc2a;
}
#card-img-price:hover{
  box-shadow: 0px 6px 13px #f1f1f1;

border: solid 1px #ebebeb;

}


#nav-hot-deal .navbar-nav .nav-item .nav-link:hover{
 border-top: 1px solid yellow;
  color: black;
  

}
#nav-hot-deal .navbar-nav .nav-item .nav-link
{
  display: block;
  font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #737373;
  text-align: center;
 
  letter-spacing: 0.7px;
  position: relative;
  text-transform: capitalize;
}
.gia-card-hot-deal{
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 2px;
  color: #8c8c8c;
  text-decoration: line-through;
}
.gia-card-hien-tai{
  font-size: 18px;
    font-weight: 700;
    color: #e42a00;
}
.title-san-pham-card{
  font-family: Roboto,HelveticaNeue,Helvetica Neue,sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #0c0c0c;
    max-height: 20px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.sao-danh-gia{
  font-size: 11px;
  color: #ffb400;
  
}
.section_brand{
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  
}
.effect-2{
  display: flex;
  justify-content: center;
  height: 90px;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -os-justify-content: center;
  -o-justify-content: center;
  align-items: center;
  transition: .3 linear;
}
.awe-section-7{
  margin-bottom: 0px;
}
.section_brand .row {
  padding: 25px 0;
}
span.wrp.effect-2 img{
  width: auto;
  filter: brightness(0) invert(1);
}
.section_brand .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}
.ten-khach:after{
  
  content: '';
  border-top: 45px solid #ffb400;
  width: 5px;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  z-index: 3;

}
.card-body-khach{
  position: relative;
}
.card-body-khach:after{
  content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 18px solid transparent;
    border-top-color: #ffffff;
    border-bottom: 0;
    margin-left: -18px;
    margin-bottom: -18px;
}
 .title-footer h2{
  font-size: 13px;
  font-family: "Prompt","HelveticaNeue","Helvetica Neue",sans-serif;
  font-size: 13px;
  font-weight: 700;
  
  font-weight: 600;
 
  text-transform: uppercase;
  position: relative;
} 
.title-footer h2:after{
  content: '';
  border-top: 5px solid #ffb400;
  width: 40px;
  display: block;
  position: absolute;
  bottom: 4px;
  left: 0px;
  z-index: 3;
}
 .bg-footer{
  width: 100%;
  margin: 0;
  background: #171717;
  width: 100%;
  padding: 0;
}
.input-footer h3{


  font-family: "Prompt","HelveticaNeue","Helvetica Neue",sans-serif;
  font-size: 13px;
}
.input-footer input{
  box-shadow: none;
  outline: none;
  height: 46px;
  line-height: 40px;
  width: 300px;
  font-size: 13px;
  margin: 0;
  padding: 0 15px;
  color: #fff;
  border: solid 1px #333;
  background: none;
}
.input-footer button{
  padding: 0 18px;

  z-index: 1;
 position: absolute;
 top: 21px;
 right: 4px;
  height: 36px;
  line-height: 40px;
  margin: 5px;
  box-shadow: none;
  border: none;
  background: #ffb400;
  color: #fff;
  font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}
.footer-top{
  border-bottom: 1px solid #cccc;
  
}
.footer-bottom ul li{
    list-style: none;
}
.footer-bottom ul li{
  margin:10px;
}
.inner{
  overflow: hidden;
  
}
.inner img{
  transition:  0.5s;
}
.inner::before{
  content: "";;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  cursor: pointer;

}
.inner:hover::before{
  opacity: 0.3;
}
.inner:hover img{
  transform: scale(1.1);
}
.inner2{
  padding: 20px;
}
.inner2 .card-img-top{
  width: auto;
}
.inner2 .card-text{
  text-transform: capitalize;
  letter-spacing: 0.1px;
  font-size: 13px;
}
.card-boder:hover{
  border-color: yellow;
}

.inner2:before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0 ;
  background-color: #ffff;
  opacity: 0;
  z-index: 555;



}
.inner2:hover::before{
  opacity: 0.4;
}
.inner2 img{
  transition: 0.4s;
}
.inner2:hover img{
  
  transform: scale(1.3) rotate(-9deg);
}
  
.inner-banner a:hover{
  background-position: 100% 100%;
 
}
.inner-banner a{
  background: linear-gradient(135deg, #000 0%, #000 25%, #ff2009 50%, red 75%, #000 100%);
  background-size: 400% 400%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  cursor: pointer;
  transition: .5s all;
  border-radius: 10px;

}
.inner-banner a img:hover{
  mix-blend-mode: screen;


}
.wrap-btn{

 
}
.wrap-btn a{  
  
  writing-mode: vertical-rl;
  text-orientation: mixed;
    transform: rotate(180deg);
   height: 318px;
    padding: 10px 15px;
   
    font-size: 22px;
    color: white;

  
    
 
  text-align: center;
    
}

@media  only screen and (min-width: 1200px){
  

}
.gia-tien-item{
  position: relative;
}
.sale-item{
  background: #ffb400;
    border-radius: .4em;
    float: none;
    position: absolute;
    background: #ffb400;
    padding: 0;
    text-align: center;
    top: 8px;
    right: 15px;
    z-index: 55;
}
.sale-item span{
  font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
  font-weight: 500;
  width: 100%;
  float: left;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  padding: 5px;
}
.sale-item span:after{
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-color: #ffb400;
  border-left: 0;
  margin-top: -5px;
  margin-left: -5px
}
.time-post{
  font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
    font-size: 13px;
    font-weight: 400;
    float: left;
    color: #fff;
    background: #4e4b52;
    padding: 5px 10px;
    position: absolute;
    bottom: 55%;
    left: 0;
    border-top-right-radius: 10px;
    z-index: 1;
}
.date-post:before{
  font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    content: "\f017";
    padding-right: 5px;
    color: #fff;

}
* {box-sizing:border-box;}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:#ffb400;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: rgb(219, 124, 15);
}
/* responsive */


.border-menu{
  
width: 96%;
}


